body{
    background: #ccc;
}

.container {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background: #f2f2f2;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#out{
    padding-left: 50px;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-top{
display: none;
}